{% extends 'base.html.twig' %}

{% block body %}
<div class="userpara">
  {% if sendmail %}
      <div class="alert alert-notice text-center">
        Un email vous a été envoyé.
      </div>
    {% else %}
      <div class="row justify-content-center">
        <div class="col-md-4">
          {{ form_start(form) }}
          {{ form_row(form.email) }}
          <div class="text-center">
            <button type="submit" class="btn btn-info">Envoyer</button>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    {% endif %}
</div>


{% endblock %}
