
/*---------Bootsrap code color info : #17a2b8   --------*/



body{
  /*moche sur tv*/
  /*background-color: #FFB673;*/

    /*background-color: #FF9F47;*/

  background-color: #FFF2E6;

     /*background-image: linear-gradient(#e2f3f6, white);*/
    /* background-image: linear-gradient(#eccda4, white); */
    /*background-image: linear-gradient(grey, white);*/



    background-repeat: no-repeat;
    /*width: 400px;
    height: 300px;*/

  /*font-family: 'Amatic SC', cursive;*/
  font-family: 'Rajdhani', sans-serif;
  /*font-family: 'Prompt', sans-serif;*/
  /*font-family: 'Noticia Text', serif;*/


}

.formback{
  color: #17a2b8;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.8);
}

.userpara{
  margin-top: 20%;
  /*padding-bottom: 50px;*/
  margin-bottom: 50%;

  color: #17a2b8;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.8);
  border-radius: 10px;
  padding-bottom: 20px
}

/*-------Bootsrap-------*/

.card{
box-shadow: 0 1px 4px 0 rgba(0,0,0,0.8);
border-radius: 10px;
padding-bottom: 20px

}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
  padding-bottom: 0rem;
}

.page-item.active .page-link {
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.page-link {
	color: #17a2b8;
}

.form-control:focus{
  border-color: #17a2b8;
  box-shadow: 0 0 5px #17a2b8;
}

input:focus {
    border-color: #17a2b8;
    box-shadow: 0 0 5px rgba(207, 220, 0, 0.4);
}

/*-------Menu-------*/

/*.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.7);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255,255,255,.9);
}*/
.navbar {
  background-color:white;
  font-weight: bold;
}

.activenav > a{
  font-weight: bold;
  color: #17a2b8 !important;
}

.navbar-brand {

	 padding-top: 0rem;
	 padding-bottom: 0rem;
	font-size: 1.8rem;

}

.navbar-light .navbar-nav .nav-link:hover {
	color: #17a2b8;
}

.banner{
  padding-top: 125px;
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

img {
    max-width: 100%;
    height: 150px;
    background-size: cover;
}
.img1{
    background-image: url("img/7.jpeg");
    background-position: center;
}

.img2{
    background-image: url("img/8.jpeg");
    background-position: bottom;
}

.img3{
    background-image: url("img/5.jpeg");
    background-position: center;
}

.img-band{
  /* background-image: url("img/2.jpg"); */
  background-repeat: no-repeat;
  max-width: 100%;
  height: 300px;
  background-size: cover;
   border-bottom: 2px solid white;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);
}

.para{
  color: grey;
  font-size: 22px;
}
.para:hover{
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.footer{
  background-color:dimgray;
  height: 60px;
  color: white;
  font-size: 1,5rem;
  padding-top: 20px;
}
.linkfooter{
  font-weight: bold;
  margin-left: 20px;
  color: white !important;
}
.linkfooter:hover{
  text-decoration: none;
  color: #FE7A00 !important;
}

/*-------Acceuil-------*/
.band1{
  background-image: url("img/8.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 920px;
}

.textband1{
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em
}

.textband2{
  margin-top: 100px;
  font-size: 2rem;
  font-weight: bold;
  color: #FE7A00;
}
.textband2link{
  font-size: 2rem;
  font-weight: bold;
  color: #17a2b8;
}

.textband2link:hover{
  font-size: 2.1rem;
  font-weight: bold;
  color: #17a2b8;
  text-decoration: none;
}

.cardacc{
  background-color: white;
  border-radius: 20px;
   /*opacity: 0.8;*/
}

.cardacc:hover{
  background-color: white;
  border-radius: 20px;
   opacity: 0.8;
}

@media (max-width: 575.98px) {
  .textband1{
    font-size: 4rem;
  }
  .textband2{
    margin-top: 10px;

  }

}

.btnacc{
  width: 200px;
  height: 50px;
}

/*.band2{
  background-image: url("img/5.jpeg");
  background-position: center;
height: 300px;
font-size: 1.5rem;
color: #17a2b8;
text-align: center;
font-weight: bold;
}

.band3{
height: 300px;
font-size: 1.5rem;
color: #17a2b8;
text-align: center;
font-weight: bold;

}*/



.textband1{


}

/*-------Annonce-------*/

/*.responsebutton{
  width: 70px;
  text-align: right;
}
.responsebutton:hover{

}*/
.comaff{
margin-top:30px;
/*border: 5px solid red;*/
/*border-right:5px solid red*/
}


.comrespaff{
margin-top:-20px;
border-radius: 0px !important;
/*border: 5px solid red;*/
}

.comresgroup{

margin-left:10%;
/*border-left: 3px solid #17a2b8;*/
border-right: 3px solid #17a2b8;
}

.comcontent{
  /*border: 1px solid grey;*/
  border-radius: 20px;
  background-color: #e2f3f6;
  padding: 7px 7px 7px 7px;
   margin: 5px 3px 5px 3px;
}

.error{
  border: 50px solid red;
}
/*-------Liste annonces-------*/



.search{
background-color: white;
height: 50px;
padding-top: 5px;
}


#autocomplete_city{
    width: 250px;
    height: 40px;
    border: 0px;
    border-bottom: 2px solid #17a2b8 !important;
    border-radius: 0px;
    background-color: #e2f3f6;
     /*margin-right: auto; */
    /* margin: 0 auto !important; */

}
#autocomplete_city:focus{
    width: 250px;
    /* margin-right: auto; */
    /* margin: 0 auto !important; */
}

#autocomplete_submit{
margin-left: 10px;
}

.list-city{
  font-size: 1.5rem;
}
.list-city-title{
  font-size: 2rem;
}

ul{
  color: #17a2b8;
}

.cardhover:hover{
text-decoration:none;
background-color: rgba(255,255,255,0.1);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);
}


/*-------Ajouter une annonce-------*/

.advert-show{
background-color: white;
box-shadow: 0 1px 4px 0 rgba(0,0,0,0.8);
border-radius: 10px;
padding-bottom: 20px;
margin-bottom: 40px;
margin-top: 40px;
}

.time{
  width: 220px;
  min-height: 160px;
  padding: 5px 0px 5px 0px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
}

#advert_hour_hour{
    margin-left: auto;
}
#advert_hour_minute{
    margin-right: auto;
}

#advert_time_hour{
    margin-left: auto;
}
#advert_time_minute{
    margin-right: auto;
}


.tabstep {
    background: #17a2b8;
    padding: 15px;
    color: white;
    font-size: 2rem;
    margin-bottom: 25px;
    border-radius: 20px;
}

.tabstepcontent{
  width: 200px;
  background: #17a2b8;
  padding: 15px;
  color: white;
  font-size:16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  -webkit-border-top-left-radius: 100px;
-webkit-border-top-right-radius: 100px;
-moz-border-radius-topleft: 100px;
-moz-border-radius-topright: 100px;
border-top-left-radius: 100px;
border-top-right-radius: 100px;

}


.content{
  width: 100%;
  height:150px
}

.titleformad{

  margin-left: auto;
  margin-right: auto ;
}

.contentformad{
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto ;
}

#advert_content{
  margin-left: auto;
  margin-right: auto;
}


/*-------Mapbox-------*/

#map{
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
  width: 100%;
  /*max-width: 340px;*/
  height: 340px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#error{
  text-decoration-color: red;
  margin-left: auto;
  margin-right: auto;
}





/*-------Datepicker-------*/
.dateall{
  padding: 5px 0px 0px 0px;
  /*margin-bottom: 20px;*/
  height: 340px;
  width: 220px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px
}

/*.datepicker{
  padding-top: 5px;
}*/

.datepicker-inline {
    background: white;
    /*-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);*/
    /*width: 350px;
    height: 310px;*/
    /*padding-top:25px;*/
    /*padding-bottom:25px;*/
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.datepicker .datepicker-switch {
    font-size: 17px;
    cursor: default;
}

th.next {
    background: #17a2b8;
    color:white;
}

th.next:hover {
    color:black;
}

th.prev:hover {
    color:black;
}

th.prev {
    background: #17a2b8;
    color:white;
}

.datepicker [class^="day"] {

    color: #17a2b8;
}

.datepicker .day.disabled {
    text-decoration: line-through;
}

td.active.day {
    background: #17a2b8 !important;
}

 #date_select {
    background: #17a2b8;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_select p {
    color:white;
    text-align: center;
    margin-top:3px;
}

.legend_date {
    margin-bottom:10px;
}

#date_available {
    background: white;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_available p {
    color:#17a2b8;
    text-align: center;
    margin-top:3px;
}

#date_disable {
    background: white;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_disable p {
    color:#999;
    text-align: center;
    margin-top:3px;
    text-decoration: line-through;
}

 #legend {
    margin-left: 70px;
    margin-top:30px;
}
