
/*---------Bootsrap code color info : #17a2b8   --------*/
.cardhover:hover{
text-decoration:none;
background-color: rgba(255,255,255,0.1);
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);
}
.card{

background-color: white;
box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
border-radius: 10px;

}

.autoinput{
  /*width: 800px;*/
}
#autocomplete_city{
    width: 200px;
    margin-right: 100px;
}
.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
  padding-bottom: 0rem;
}

body{
  /*moche sur tv*/
  /*background-color: #FFB673;*/

    /*background-color: #FF9F47;*/

    background-image: linear-gradient(#FE7A00, white);
    background-repeat: no-repeat;
    /*width: 400px;
    height: 300px;*/

  /*font-family: 'Amatic SC', cursive;*/
  font-family: 'Rajdhani', sans-serif;
  /*font-family: 'Prompt', sans-serif;*/
  /*font-family: 'Noticia Text', serif;*/


}
.pl{
  font-weight: bold;
  font-size: 10px;
  font-family: 'Prompt', sans-serif !important;
}


/*-------Menu-------*/

/*.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.7);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255,255,255,.9);
}*/
.navbar {
  background-color:white;
}



/*-------Ajouter une annonce-------*/
.step{
  margin-bottom: 25px;
}

.timecenter{
 margin: auto;
 top: auto;
}

.time{
  width: 200px;
  padding: 20px 30px 20px 30px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  margin: 0 auto;
  background-color: white;
}

.center{
  margin-left: auto !important;
  margin-right: auto !important;
}

.tabstep {
    background: #17a2b8;
    padding: 15px;
    color: white;
    font-size:16px;
    margin-bottom: 25px;
    border-radius: 20px;
}
.tabstepcontent{
  width: 200px;
  background: #17a2b8;
  padding: 15px;
  color: white;
  font-size:16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  -webkit-border-top-left-radius: 100px;
-webkit-border-top-right-radius: 100px;
-moz-border-radius-topleft: 100px;
-moz-border-radius-topright: 100px;
border-top-left-radius: 100px;
border-top-right-radius: 100px;

}
.tabstep1444444444444444444444444 {
    /*background: #17a2b8;*/

    /*font-family: 'Roboto', sans-serif;*/
    color: #17a2b8;
    font-size:16px;
    /*text-decoration-color: #17a2b8;*/
    margin-bottom: 25px;
    border-bottom: 4px solid #17a2b8;
      width: 500px;
}

.content{
  width: 80%;
  height:150px
}
.contentcom{
  width: 70%;
  margin-left: auto;
  margin-right: auto ;
}

#advert_content{
  margin-left: auto;
  margin-right: auto;
}


/*-------Mapbox-------*/

#map{
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
}

#error{
  text-decoration-color: red;
  margin-left: auto;
  margin-right: auto;
}





/*-------Datepicker-------*/

.datepicker-inline {
    background: white;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    width: 350px;

    padding-top:25px;
    padding-bottom:25px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.datepicker .datepicker-switch {
    font-size: 17px;
    cursor: default;
}

th.next {
    background: #17a2b8;
    color:white;
}

th.next:hover {
    color:black;
}

th.prev:hover {
    color:black;
}

th.prev {
    background: #17a2b8;
    color:white;
}

.datepicker [class^="day"] {
    color: #17a2b8;
}

.datepicker .day.disabled {
    text-decoration: line-through;
}

td.active.day {
    background: #17a2b8 !important;
}

 #date_select {
    background: #17a2b8;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_select p {
    color:white;
    text-align: center;
    margin-top:3px;
}

.legend_date {
    margin-bottom:10px;
}

#date_available {
    background: white;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_available p {
    color:#17a2b8;
    text-align: center;
    margin-top:3px;
}

#date_disable {
    background: white;
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
}

 #date_disable p {
    color:#999;
    text-align: center;
    margin-top:3px;
    text-decoration: line-through;
}

 #legend {
    margin-left: 70px;
    margin-top:30px;
}
