{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <a href="{{ path('security_login')}}"> Connexion</a> <br>
    <a href="{{ path('user_registration')}}"> Inscription</a>

</div>
{% endblock %}
